registry=https://pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/registry/:username=himanshu0859 
//pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/registry/:_password="bHJjY2RpZDJpcjQ1ZDZ6djdmZXg1bTZhYmlseTY1YmNpZ3FteGplcm5hcXczMnYybndkYQ==
"
//pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/:username=himanshu0859 
//pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/:_password="bHJjY2RpZDJpcjQ1ZDZ6djdmZXg1bTZhYmlseTY1YmNpZ3FteGplcm5hcXczMnYybndkYQ==
"
//pkgs.dev.azure.com/himanshu0859/_packaging/himanshu0859/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
